
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: var(--body-font);
}

.post-entry:has(a:hover) {
    background-color: var(--tertiary);
}

.entry-cover {
  height: 250px;
}

.entry-cover img {
  object-fit: cover;
}

figure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap);
    figcaption {
        flex: 0.5 300px;
    }

    @media (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

figure:nth-of-type(2n) {
    flex-direction: row-reverse;
    text-align: right;
}

.pswp img {
    max-width: none;
    object-fit: contain;
}

.pswp--custom-bg {
    --pswp-bg: #7079bf;
}

gold-maker {
    width: 300px;
    display: block;
}

gold-maker > * {
    width: 300px;
}

main:has(a.htmx-request),
header:has(a.htmx-request) + main {
    opacity: 0.5;
}

main {
  transition: opacity 200ms ease-in;
}

main.htmx-added {
  opacity: 0;
}

aside {
    padding: var(--gap);
    border: 1px solid var(--info);
    margin-bottom: var(--gap);
    border-radius: var(--radius);
    color: var(--info);
}

.info {
    color: var(--info);
}

.success {
    color: var(--success);
}

.goat {
    font-size: 14px;
}

footer:last-of-type {
    position: relative;
}

/* https://www.shapedivider.app/ */
.custom-shape-divider-bottom-1736302334 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1736302334 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.custom-shape-divider-bottom-1736302334 .shape-fill {
    fill: var(--subdued);
}

@view-transition {
    navigation: auto;
}
