
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: var(--body-font);
}

.post-entry:has(a:hover) {
    background-color: var(--tertiary);
}

figure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap);
    figcaption {
        flex: 0.5 300px;
    }

    @media (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

figure:nth-of-type(2n) {
    flex-direction: row-reverse;
    text-align: right;
}

.pswp img {
    max-width: none;
    object-fit: contain;
}

.pswp--custom-bg {
    --pswp-bg: #7079bf;
}

gold-maker {
    width: 300px;
    display: block;
}

gold-maker > * {
    width: 300px;
}

main:has(a.htmx-request),
header:has(a.htmx-request) + main {
    opacity: 0.5;
}

main {
  transition: opacity 200ms ease-in;
}

main.htmx-added {
  opacity: 0;
}

aside {
    padding: var(--gap);
    border: 1px solid var(--info);
    margin-bottom: var(--gap);
    border-radius: var(--radius);
    color: var(--info);
}

.footer-gradient {
    margin-top: calc(var(--gap) * 4);
    height: 150px;
    background: var(--theme);
    background: linear-gradient(180deg, var(--theme) 0%, var(--grad-step-1) 35%, var(--grad-step-2) 100%);
}

.info {
    color: var(--info);
}

.success {
    color: var(--success);
}

.goat {
    font-size: 14px;
}

footer:last-of-type {
    position: relative;
    height: 100px;
}

/* https://www.shapedivider.app/ */
.custom-shape-divider-bottom-1736301286 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1736301286 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
}

.custom-shape-divider-bottom-1736301286 .shape-fill {
    fill: var(--secondary);
}