
:root {
    --body-font: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --code-bg: rgb(244, 244, 244);
    --primary: rgb(0, 15, 62);
}

.dark {
    --theme: rgb(20, 19, 19);
    --primary: #ccf1ff;
}

body, h1, h2, h3, h4, h5, h6, a, p {
    font-family: var(--body-font);
}
