<div class="grid" id="postslist">
  {% for repo in repos %}
    <div class="card">
      <h3 class="card__title">
        <a href="https://github.com/{{ repo.full_name }}">{{ repo.full_name }}</a>
      </h3>
      <p>{{ repo.full_name }}</p>
      <p>{{ repo.description }}</p>
      <p>{{ repo.created_at | asDate | htmlDateString }}</p>
    </div>
  {% endfor %}
</div>
