<div class="card-grid">
  {% for repo in repos %}
    <div class="card">
      <h3 class="card__title">
        <a href="https://github.com/{{ repo }}">{{ repo }}</a>
      </h3>
      <p class="card__description">{{ repo }}</p>
    </div>
  {% endfor %}
</div>
