<table>
    <thead>
        <tr>
            <th>car purchase</th>
            <th>bank balance</th>
            <th>loan balance</th>
            <th>imaginary dollars "saved"</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="fa fa-car fa-xl"></i></td>
            <td><i class="fa fa-dollar fa-2xl" style="color:#63e6be"></i></td>
            <td><i class="fa fa-dollar fa-2xl" style="color:#de185d"></i></td>
            <td><i class="fa fa-dollar fa-2xl" style="color:#74c0fc"></i></td>
        </tr>
        <tr>
            <td><i class="fa fa-car fa-2xl"></i></td>
            <td><i class="fa fa-dollar fa-2xl" style="color:#63e6be"></i></td>
            <td><i class="fa fa-dollar fa-2xl" style="color:#de185d"></i><i class="fa fa-dollar fa-2xl" style="color:#de185d"></i></td>
            <td>-</td>
        </tr>
        <tr>
            <td><i class="fa fa-car fa-2xl"></i></td>
            <td><i class="fa fa-dollar fa-2xl" style="color:#63e6be"></i><i class="fa fa-dollar fa-2xl" style="color:#63e6be"></i><i class="fa fa-dollar fa-2xl" style="color:#63e6be"></i></td>
            <td><i class="fa fa-dollar fa-2xl" style="color:#de185d"></i><i class="fa fa-dollar fa-2xl" style="color:#de185d"></i><i class="fa fa-dollar fa-2xl" style="color:#de185d"></i></td>
            <td><i class="fa fa-dollar fa-2xl" style="color:#74c0fc"></i><i class="fa fa-dollar fa-2xl" style="color:#74c0fc"></i></td>
        </tr>
    </tbody>
</table>